USE [Data_zl3]
GO
/****** Object:  UserDefinedFunction [dbo].[_START_DATE]    Script Date: 18.07.2016 12:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[_START_DATE]()
RETURNS int
 BEGIN
  RETURN 132120833      
 END

 